{% extends "base.html" %}

{% block title %}Delete Book?{% endblock title %}

{% block navbar %}
<a class="link dim white dib mr3 fr" href="{% url 'auth_logout' %}" title="Logout">Log Out</a>
{% endblock navbar %}

{% block content %}
<h1>Delete Book</h1>

<div>
    <form action="{% url 'delete_book' pk=book.pk %}" method='POST'>
        {% csrf_token %}
        <p>Are you sure you want to delete {{ book.title }}?</p>
        <div>
            <button style="submit">Delete Book</button>
            <a href="{% url 'view_book' pk=book.pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}