{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
    {% block javascript %}{% endblock javascript %}
</head>

<body>
    <header class="bg-purple fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l sans-serif">
        <nav class="f4 fw7 ttu tracked">
            <a class="link dim white dib mr3 fl" href="{% url 'home' %}" title="Home">FreeShelf</a>
            {% block navbar %}{% endblock navbar %}

            <!-- {% if user.is_authenticated %}
            <a class="link dim white dib mr3 fr" href="{% url 'auth_logout' %}" title="Logout">Log Out</a>
            {% endif %} -->
        </nav>
    </header>
    <br>
    <div class="pa5-ns sans-serif">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>